<ng-container *ngIf="products$ | async as products">
    <ul class="product-list">
        <li class="product" *ngFor="let product of products;">
            <p class="product-title">{{ product.name }}</p>
            <p class="product-platform">{{ product.platform }}</p>
            <div class="product-footer">
                <p class="product-genre">{{ product.genre }}</p>
                <p class="product-price">${{ product.price }}</p>
            </div>
        </li>
    </ul>
    <p class="warning" *ngIf="!products.length">No products matching filters</p>
</ng-container>
<div class="product-filters">
    <p>genres: </p>
    <a class="product-filter-button" routerLink="" [queryParams]="{ genre: 'rpg' }" queryParamsHandling="merge">rpg</a>
    <a class="product-filter-button" routerLink="" [queryParams]="{ genre: 'platformer' }" queryParamsHandling="merge">platformer</a>
    <a class="product-filter-button" routerLink="" [queryParams]="{ genre: 'racing' }" queryParamsHandling="merge">racing</a>
    <a class="product-filter-button product-filter-button--clear" routerLink="" [queryParams]="{ genre: null }" queryParamsHandling="merge">clear</a>
</div>

<div class="product-filters">
    <p>platforms: </p>
    <a class="product-filter-button" routerLink="" [queryParams]="{ platform: 'playstation' }" queryParamsHandling="merge">playstation</a>
    <a class="product-filter-button" routerLink="" [queryParams]="{ platform: 'switch' }" queryParamsHandling="merge">switch</a>
    <a class="product-filter-button" routerLink="" [queryParams]="{ platform: 'xbox' }" queryParamsHandling="merge">xbox</a>
    <a class="product-filter-button product-filter-button--clear" routerLink="" [queryParams]="{ platform: null }" queryParamsHandling="merge">clear</a>
</div>